In [2]:
import pandas as pd

In [3]:
frod_df= pd.read_csv(r"D:\New folder\Fraud.csv")

In [4]:
frod_df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

# Data Cleaning & viewing

In [5]:
frod_df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [6]:
frod_df.shape

(6362620, 11)

In [7]:
frod_df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [8]:
frod_df.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [9]:
frod_df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [10]:
frod_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [11]:
frod_df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [12]:
type(frod_df)

pandas.core.frame.DataFrame

In [13]:
f_df=frod_df.copy()

# Question Answer

Q1= Find the total amount?

In [14]:
f_df['amount'].sum()

1144392944759.77

Q2=Find the total oldblance in dest ?

In [15]:
f_df['oldbalanceDest'].sum()

7003346437431.246

Q3 Find the total newblance in dest ?

In [16]:
f_df['newbalanceDest'].sum()

7794186583127.563

Q4=  Find the total oldblance in org ?

In [17]:
f_df['oldbalanceOrg'].sum()

5305681315646.41

Q5= Find the total new balance in orig ?

In [18]:
f_df['newbalanceOrig'].sum()

5440763329971.488

Q6= Find the type of Payment ?

In [19]:
f_df['type'].value_counts()

type
CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: count, dtype: int64

Q7 Find total payment ?

In [20]:
f_df['type'].count()

6362620

Q8= Find the detail of flagged frouds with name (Dest),(orig)?

In [21]:
f_df2=f_df[f_df.isFlaggedFraud>=1][['nameDest','nameOrig','type']]
f_df2

            nameDest     nameOrig      type
2736446   C639921569   C728984460  TRANSFER
3247297  C1147517658  C1100582606  TRANSFER
3760288  C1100697970  C1035541766  TRANSFER
5563713   C891140444   C908544136  TRANSFER
5996407  C1392803603   C689608084  TRANSFER
5996409  C1109166882   C452586515  TRANSFER
6168499   C484597480   C193696150  TRANSFER
6205439  C1770418982  C1684585475  TRANSFER
6266413   C661958277   C786455622  TRANSFER
6281482  C1806199534    C19004745  TRANSFER
6281484  C1909486199   C724693370  TRANSFER
6296014  C1082139865   C917414431  TRANSFER
6351225  C1308068787  C1892216157  TRANSFER
6362460  C1395467927  C2140038573  TRANSFER
6362462  C1861208726  C1869569059  TRANSFER
6362584  C1366804249   C992223106  TRANSFER

Q9= Find the detail of frouds with name (Dest),(orig)?

In [26]:
f_df3=f_df[f_df.isFraud>=1][['nameDest','nameOrig','type']]
f_df3

            nameDest     nameOrig      type
2         C553264065  C1305486145  TRANSFER
3          C38997010   C840083671  CASH_OUT
251       C972765878  C1420196421  TRANSFER
252      C1007251739  C2101527076  CASH_OUT
680      C1848415041   C137533655  TRANSFER
...              ...          ...       ...
6362615   C776919290   C786484425  CASH_OUT
6362616  C1881841831  C1529008245  TRANSFER
6362617  C1365125890  C1162922333  CASH_OUT
6362618  C2080388513  C1685995037  TRANSFER
6362619   C873221189  C1280323807  CASH_OUT

[8213 rows x 3 columns]

Q10= Find the detail in new balanced dest ?

In [24]:
f_df4=f_df[f_df.newbalanceDest>=1][['nameDest','type']]
f_df4

            nameDest      type
9         C195600860     DEBIT
10        C997608398     DEBIT
15        C476402209  CASH_OUT
21       C1973538135     DEBIT
24        C932583850  TRANSFER
...              ...       ...
6362611  C1662241365  CASH_OUT
6362613  C1240760502  CASH_OUT
6362615   C776919290  CASH_OUT
6362617  C1365125890  CASH_OUT
6362619   C873221189  CASH_OUT

[3923185 rows x 2 columns]

Q11= Find the detail in new balanced Orig ?

In [25]:
f_df5=f_df[f_df.newbalanceOrig>=1][['nameOrig','type']]
f_df5

            nameOrig      type
0        C1231006815   PAYMENT
1        C1666544295   PAYMENT
4        C2048537720   PAYMENT
5          C90045638   PAYMENT
6         C154988899   PAYMENT
...              ...       ...
6362576   C780743034  TRANSFER
6362578  C1111699947  TRANSFER
6362580    C88849251  TRANSFER
6362582  C1945606464  TRANSFER
6362584   C992223106  TRANSFER

[2753038 rows x 2 columns]

In [29]:
f_df['step'].value_counts()

step
19     51352
18     49579
187    49083
235    47491
307    46968
       ...
432        4
706        4
693        4
112        2
662        2
Name: count, Length: 743, dtype: int64